<div class="backdrop order-conteiner data-modal ">

    <h1 class="title">ORDER NOW</h1>
    <button type="button" data-modal-close class="modal-close-btn">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="//src/image/sprite..svg#icon-close-input-default"></use>
      </svg>
    </button>
      <!-- <div class="modal-right"> -->
      <form class="modal-form ">
        <label class="modal-form-field">
          <span class="modal-form-field-desk">Name</span>
          <span class="modal-form-input-wrapper">
            <input
              type="text"
              name="user_name"
              class="modal-form-input"
              placeholder=""
              required
              minlength="2"
              pattern="[a-zA-Zа-яА-ЯіІїЇї]+"
            />
          </span>
        </label>
        <label class="modal-form-field">
          <span class="modal-form-field-desk">Phone number</span>
          <span class="modal-form-input-wrapper">
            <input
              type="phone"
              name="phone"
              class="modal-form-input"
              placeholder=""
              required
              pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
              title="xxx-xxx-xxx-xxxx"
            />
          </span>
        </label>

        <label class="modal-form-field">
          <span class="modal-form-field-desk">Email</span>
          <span class="modal-form-input-wrapper">
            <input
              type="email"
              placeholder=""
              name="user_email"
              class="modal-form-input"
              required
              pattern="^^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            />
          </span>
        </label>

        <label class="modal-form-field">
          <span class="modal-form-input-desk">Comment</span>
          <textarea
            name="user_message"
            class="modal-form-message"
            placeholder=""
          ></textarea>
        </label>
        <button type="submit" class="modal-form-btn">Send</button>
             </form>
    </div>
   </div>
</div>
