.backdrop {
  z-index: 999;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.6);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
}
.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup-content {
  background-color: #fff;
  max-width: 90%;
  height: 90%;
  border-radius: 15px;
  padding: 28px 20px;
  position: relative;
  padding: 28px 20px;
}
.js-popup-close {
  position: absolute;
  top: 14;
  right: 14;
  border: 0;
  background-color: transparent;
}
.popup-close-icon {
  stroke: #050505;
}
.popup-close-icon:hover,
.popup-close-icon:focus {
  stroke: #fff;
  cursor: pointer;
}
.popup-title {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 122.222%;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.popup-form {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}
.popup-field {
}
/* .popup-input-wrapper {
  margin-bottom: 16px;
  margin-right: 0;
} */
.popup-input {
  border-radius: 15px;
  display: flex;
  max-width: 295px;

  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  /* gap: 42px; */
  /* height: 46px; */
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.popup-input:not(:last-child) {
  margin-bottom: 16px;
}
.popup-input:focus {
  align-items: flex-start;
  outline: none;
  border-color: #9bb537;
}
/* .popup-input:valid {
  border-color: #9bb537;
} */
.popup-input:not(:placeholder-shown):invalid {
  border-color: red;
}

.popup-field-desk {
  /* width: 360px; */
  display: block;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
  margin-bottom: 8px;
  margin-top: 16px;
}

.popup-message {
  max-width: 295px;
  height: 100px;
  padding: 14px 169px 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  margin-bottom: 40px;
}

.popup-message:focus {
  outline: none;
  border-color: #9bb537;
}
.popup-btn {
  width: 360px;
  height: 48px;
  background: #fff;
  border-radius: 15px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #050505;
  border: 1px solid #9bb537;
  cursor: pointer;
  padding: 15px 162px;
  margin-left: auto;
  margin-right: auto;
  transition: border var(--transition-time-cubic);
}
.popup-btn:hover,
.popup-btn-btn:focus {
  border: none;
  color: #fff;
  background-color: #9bb537;
  border-radius: 16px;
}

/* @media screen and (min-width: 375px) {
  .modal {
    overflow: auto;
  }
  .privacy-text {
    padding-right: 10px;
  }
} */
/* @media screen and (min-width: 768px) {
  .order-conteiner {
    width: 440px;
    height: 632px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    padding: 40px 40px;
    background-color: #ffffff;
    display: flex;
        gap: 20px;
    overflow: auto;
  } */
/* .modal-form {
    padding: 0 0 40px 0;
  } */
/* .modal-left {
    width: 276px;
    height: 375px;
  } */
/* .modal-right {
    width: 368px;
    height: 100%;
  } */

/* .modal-form-field-desk {
    font-size: 14px;
    line-height: 1.28;
  }
  .modal-form-input-desk {
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    font-size: 14px;
    line-height: 1.28;
  }
  .modal-form-message {
    height: 166px;
  }

  .modal-form-btn {
    width: 101%;
  }
  .privacy-text {
    width: 100%;
    padding-right: 29px;
  }
} */
/* @media screen and (min-width: 1280px) {
  .order-conteiner {
    width: 440px;
    height: 632px;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius: 8px;
  }
  .modal-form {
    padding: 0 0 40px 0;
  }
  .modal-right {
    width: 508px;
  }
  .modal-form-message {
    height: 100px;
  }
  .modal-form-btn {
    width: 100%;
  } */

/* .modal-form-field-desk {
    font-size: 14px;
    line-height: 1.28;
  } */
/* .modal-form-input-desk {
    font-size: 14px;
    line-height: 1.28;
  } */
/* .modal-form-message {
    height: 166px;
  } */

/* .privacy-text {
    padding-right: 10px;
  }} */

/* .order-conteiner {
  z-index: 999;
  width: 335px;
  height: 582px;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear; */
/* padding: 40px 20px 40px 20px; */
/* background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
    0px 0px 130.6px rgba(0, 0, 0, 0.037963),
    0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
    0px 0px 36.2375px rgba(0, 0, 0, 0.025),
    0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
    0px 0px 8.77546px rgba(0, 0, 0, 0.012037); */
