.backdrop {
  z-index: 999;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 233, 94, 0.4);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
}
.title {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 122.222%;
  text-transform: uppercase;
}
.order-conteiner {
  z-index: 999;
  width: 335px;
  height: 582px;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  /* padding: 40px 20px 40px 20px; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
    0px 0px 130.6px rgba(0, 0, 0, 0.037963),
    0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
    0px 0px 36.2375px rgba(0, 0, 0, 0.025),
    0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
    0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-close-btn {
  position: absolute;
  color: #050505;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  display: block;
  margin-left: auto;
  background: transparent;
  transition: color var(--transition-time-cubic);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #fff;
}
.modal-close-icon {
  stroke: #000;
}

.modal-close-btn {
  color: #000;
  stroke: #000;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* .modal-form-field {
  margin-bottom: 56px;
} */
.modal-form-field-desk {
  display: block;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1128.571%;
}
.modal-form-input:focus {
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  outline: none;
  border-color: #9bb537;
}
.modal-form-input:valid {
  border-color: #9bb537;
}
.modal-form-input:not(:placeholder-shown):invalid {
  border-color: red;
}

.modal-form-input-desk {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
}
.modal-form-message {
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.modal-form-message:focus {
  outline: none;
  border-color: #9bb537;
}
.modal-form-btn {
  width: 295px;
  background: #fff;
  border-radius: 15px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #050505;
  border: 1px solid #9bb537;
  cursor: pointer;
  padding: 15px 162px;
  margin-left: auto;
  margin-right: auto;

  transition: border var(--transition-time-cubic);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  border: none;
  color: #fff;
  background-color: #9bb537;
  border-radius: 16px;
}

@media screen and (min-width: 375px) {
  .modal {
    overflow: auto;
  }
  .privacy-text {
    padding-right: 10px;
  }
}
/* @media screen and (min-width: 768px) {
  .order-conteiner {
    width: 440px;
    height: 632px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    padding: 40px 40px;
    background-color: #ffffff;
    display: flex;
        gap: 20px;
    overflow: auto;
  } */
/* .modal-form {
    padding: 0 0 40px 0;
  } */
/* .modal-left {
    width: 276px;
    height: 375px;
  } */
/* .modal-right {
    width: 368px;
    height: 100%;
  } */

/* .modal-form-field-desk {
    font-size: 14px;
    line-height: 1.28;
  }
  .modal-form-input-desk {
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    font-size: 14px;
    line-height: 1.28;
  }
  .modal-form-message {
    height: 166px;
  }

  .modal-form-btn {
    width: 101%;
  }
  .privacy-text {
    width: 100%;
    padding-right: 29px;
  }
} */
@media screen and (min-width: 1280px) {
  .order-conteiner {
    width: 440px;
    height: 632px;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius: 8px;
  }
  .modal-form {
    padding: 0 0 40px 0;
  }
  .modal-right {
    width: 508px;
  }
  .modal-form-message {
    height: 100px;
  }
  .modal-form-btn {
    width: 100%;
  }

  /* .modal-form-field-desk {
    font-size: 14px;
    line-height: 1.28;
  } */
  /* .modal-form-input-desk {
    font-size: 14px;
    line-height: 1.28;
  } */
  /* .modal-form-message {
    height: 166px;
  } */

  /* .privacy-text {
    padding-right: 10px;
  } */
}
