  <header class="header-page">
      <div class="container header-container">
        <nav class="nav">
          <ul class="nav-list list">
            <li class="nav-item">
              <a href="./" class="nav-link link current">Home</a>
            </li>
            <li class="nav-item">
              <a href="./favorites.html" class="nav-link link">Favorites</a>
            </li>
          </ul>
        </nav>
        <a href="./index.html" class="header-logo header-logo-main link"
          >tasty<span class="header-logo header-logo-part">treats.</span></a
        >
        <div class="header-icon-wrapper">
          <button type="button" class="header-bascket-btn btn icon-btn button">
            <svg class="bascket-icon" width="24px" height="24px">
              <use
                href="./images/svg-sprite.svg#icon-bascket-default-dark"
              ></use>
            </svg>
          </button>
          <!-- <div class="switch-checkbox-wrapper">
              <input
                type="checkbox"
                class="checkbox-input visually-hidden"
                id="input"
              />
              <label class="checkbox" for="input"></label>
            </div> -->
          <div class="header-toggle">
            <button class="toggle-btn icon-btn button" type="button">
              <svg class="toggle-icon" width="46px" height="20px">
                <use
                  href="./images/svg-sprite.svg#icon-switch_1"
                  class="toggle-icon-light-theme"
                ></use>
                <use
                  href="./images/svg-sprite.svg#icon-switch-dark-theme"
                  class="toggle-icon-dark-theme visually-hidden"
                ></use>
              </svg>
            </button>
          </div>

          <div class="burger-menu-wrupper">
            <button type="button" class="burger-menu icon-btn button">
              <svg class="icon-menu" width="32px" height="32px">
                <use
                  href="./images/svg-sprite.svg#icon-burger-default-light"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-----------------Mobile menu---------------->
      <div class="mobile-menu js-menu-container" id="mobile-menu">
        <div class="mobile-menu-container">
          <button type="button" class="mobile-menu-close-btn icon-btn">
            <svg class="mobile-close-icon" width="32px" height="32px">
              <use
                href="./images/svg-sprite.svg#icon-close-input-default"
              ></use>
            </svg>
          </button>
          <nav class="mobile-nav">
            <ul class="mobile-nav-list list">
              <li class="nav-item">
                <a href="./" class="mobile-nav-link link current">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="mobile-nav-link link">Favorites</a>
              </li>
            </ul>
          </nav>
          <div class="mobile-header-toggle">
            <button class="mobile-toggle-btn icon-btn button" type="button">
              <svg class="mobile-toggle-icon" width="46px" height="20px">
                <use
                  href="./images/svg-sprite.svg#icon-switch_1"
                  class="mobile-toggle-icon-light-theme"
                ></use>
                <use
                  href="./images/svg-sprite.svg#icon-switch-dark-theme"
                  class="mobile-toggle-icon-dark-theme visually-hidden"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>
    <script src="./js/header.js" type="module"></script>
  </header>
