:root {
  --main-color: #050505;
  --main-rgb-color: rgb(5, 5, 5);
  --secondary-color: #f8f8f8;
  --secondary-rgb-color: rgb(248, 248, 248);
  --active-color: #9bb537;
  --accent-color: #eea10c;
  --additional-color: #cecdcd;
  --rare-color: rgba(160, 158, 160, 0.6);
  --box-shadow: 7px 5px 15px 0px var(--rare-color);
  --transition-duration: 250ms;
  --transition-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 365px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1210 px;
  }
}
.nav-link {
  color: var(--main-color);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.nav-link .current {
  color: var(--active-color);
}
