<!-- Кнопка для відкриття модального вікна -->
<button data-modal-open>Побачити рецепт</button>
<div class="backdrop is-hidden"></div>
<!-- Модальне вікно -->
<div class="modal is-hidden" data-modal>
  <div class="modal-content">
    <div class="modal-close-button" data-modal-close>
        <svg class="icon icon-x">
          <use xlink:href="#icon-x"></use>
        </svg>
      </div>
    <iframe class="video" width="295" height="295" src="https://www.youtube.com/watch?v=kY-d4rRPcUk"></iframe>
    <h2 class="modal-title">BANANA PANCAKES</h2>
    <div class="rating">
        <div class="stars">
      <span class="rating-number">4,5</span>
      <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></div>
        <span class="cooking-time">40 min</span>
    </div>
    <ul class="ingredients-list">
      <li class="ingredient-list-item">Banana<span class="list-second-item">1 large</span></li>
      <li class="ingredient-list-item">Eggs<span class="list-second-item">1 large</span></li>
      <li class="ingredient-list-item">Oil<span class="list-second-item">1 large</span></li>
      <li class="ingredient-list-item">Pecan nuts<span class="list-second-item">1 large</span></li>
      <li class="ingredient-list-item">Baking Powder<span class="list-second-item">1 large</span></li>
      <li class="ingredient-list-item">Raspberries<span class="list-second-item">1 large</span></li>
    </ul>
    <ul class="hashtags">
      <li class="hashtag">#Breakfast</li>
      <li class="hashtag">#Desert</li>
      <li class="hashtag">#Sweet</li>
    </ul>
    <p class="modal-text">Mash the ripe banana in a medium mixing bowl.<br>
        Add the egg and whisk together until well combined.<br>
        Add the flour, baking powder, cinnamon (if using), and salt, and stir until just combined.<br>
        Heat a non-stick skillet or griddle over medium heat and add the vegetable oil or melted butter.<br>
        Scoop the batter onto the skillet or griddle using a 1/4 cup measure, and cook for 2-3 minutes on each side, or until the pancakes are golden brown and cooked through.<br>
        Serve warm with your favorite toppings such as maple syrup, sliced bananas, or whipped cream.<br></p>
    <div class="button-row">
      <button class="add-to-favorite-button">Add to favorite</button>
      <button class="give-rating-button">Give Rating</button>
    </div>
  </div>
</div>