<div class="backdrop recipe-backdrop is-hidden" data-modal-recipe>
  <div class="modal-recipe" id="modal-recipe">
      <button
          type="button"
          class="modal-close-btn-recipe"
          data-action="close-modal"
      >
          <svg class="icon-close-recipe" width="20" height="20">
              <use
                  href="./image/sprite.svg#icon-close-input-default"
              ></use>
              <!-- <use href="/src/img/sprite.svg#icon-x"></use> -->
          </svg>
      </button>
      <div class="modal-wrap-recipe">
          <div class="block1-wrap">
              <div class="recipe-video-wrap">
                  <!--  <img
                      class="recipe-image"
                     src="/src/image/ModalWindow/default-image.jpg" 
                      alt="Recipe video"
                      width="295"
                      height="295"
                  />-->
              </div>
              <h3 class="selected-recipe-name">RECIPE NAME</h3>
          </div>
          <div class="block2-wrap">
              <ul class="tags-1">
                  <li class="tag-item">
                      <button class="btn-tag" type="button">
                          #Breakfast
                      </button>
                  </li>
                  <li class="tag-item">
                      <button class="btn-tag" type="button">#Desert</button>
                  </li>
                  <li class="tag-item">
                      <button class="btn-tag" type="button">#Sweet</button>
                  </li>
              </ul>
              <div class="rating-wrap-recipe">
                  <span class="rating-number-recipe">4.5</span>
                  <ul class="stars">
                      <li>
                          <svg
                              class="star"
                              data-rating="1"
                              width="16"
                              height="16"
                          >
                              <use
                                  href="./image/sprite.svg#icon-star-active"
                              ></use>
                          </svg>
                      </li>
                      <li>
                          <svg
                              class="star"
                              data-rating="2"
                              width="16"
                              height="16"
                          >
                              <use
                              href="./image/sprite.svg#icon-star-active"
                              ></use>
                          </svg>
                      </li>
                      <li>
                          <svg
                              class="star"
                              data-rating="3"
                              width="16"
                              height="16"
                          >
                              <use
                              href="./image/sprite.svg#icon-star-active"
                              ></use>
                          </svg>
                      </li>
                      <li>
                          <svg
                              class="star"
                              data-rating="4"
                              width="16"
                              height="16"
                          >
                              <use
                              href="./image/sprite.svg#icon-star-active"
                              ></use>
                          </svg>
                      </li>
                      <li>
                          <svg
                              class="star"
                              data-rating="5"
                              width="16"
                              height="16"
                          >
                              <use
                              href="./image/sprite.svg#icon-star-active"
                              ></use>
                            </svg>
                          </li>
                      </ul>
                      <!-- </div> -->
                      <span class="cooking-time"></span>
                  </div>
              </div>
              <ul class="ingredients">
                  
              </ul>
              <ul class="tags-2">
                  <li class="tag-item">
                      <button class="btn-tag" type="button">#Breakfast</button>
                  </li>
                  <li class="tag-item">
                      <button class="btn-tag" type="button">#Breakfast</button>
                  </li>
                  <li class="tag-item">
                      <button class="btn-tag" type="button">#Breakfast</button>
                  </li>
              </ul>
              <p class="recipe-instruction">
                  Mash the ripe banana in a medium mixing bowl. Add the egg and
                  whisk together until well combined. Add the flour, baking
                  powder, cinnamon (if using), and salt, and stir until just
                  combined. Heat a non-stick skillet or griddle over medium heat
                  and add the vegetable oil or melted butter. Scoop the batter
                  onto the skillet or griddle using a 1/4 cup measure, and cook
                  for 2-3 minutes on each side, or until the pancakes are golden
                  brown and cooked through. Serve warm with your favorite toppings
                  such as maple syrup, sliced bananas, or whipped cream.
              </p>
              <div class="button-wrap">
                  <button class="btn-favorite" type="button">
                      Add to favorite
                  </button>
                  <button class="btn-rating-recipe" type="button">
                      Give a rating
                  </button>
              </div>
          </div>
      </div>
    </div>