
@media screen and (min-width: 375px) {
    .container {
        width: 365px;
    }

    #categories {
        width: 326px;
        height: 198px;
        border: none;
        outline: none;
        background: transparent;
        overflow-y: auto;
        /*white-space: nowrap;*/
        scrollbar-width: thin;
        display: flex;
        flex-direction: column;
        transition: .4s linear .2s;
        gap: 18px;
    }
   

         #categories::-webkit-scrollbar{
            width: 10px;
            background-color: transparent;
         }

        #categories::-webkit-scrollbar-thumb {
            width: 8px;
            height: 116px;
            border-radius: 12px;
            background-color: rgba(5, 5, 5, 0.18);
        }


        .category-option {
            width: 100%;
            background-color: transparent;
            padding-top: 9px;
            padding-bottom: 9px;
            border: none;
            text-align: left;
            font-family: "Inter";
            font-weight: 500;
            font-size: 14px;
            line-height: 1.28;
            cursor: pointer;
            color: rgba(5, 5, 5, 0.3);
            transition: .3s case-in-out;
        }

        .category-option:hover,
        .category-option:focus {
            outline: none;
            background-color: var(--active-color);
            color: #F8F8F8;
        }
        .category-option:active {
            background-color: var(--active-color);
        }


    .my-button {
        width: 176px;
        height: 50px;
        background-color: transparent;
        color: rgba(5, 5, 5, 0.2);
        font-family: "Inter";
        font-weight: 500;
        text-align: center;
        font-size: 18px;
        line-height: 1.21;
        padding: 14px 28px 14px 28px;
        border: 1px solid rgba(5, 5, 5, 0.2);
        border-radius: 15px;
        cursor: pointer;
    }
                .my-button:hover,
                .my-button:focus {
                    background-color: var(--active-color);
                    color: #F8F8F8;
                }

    .cont {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--active-color);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

#scrollToTopBtn.show {
    display: block;
}

}

@media screen and (min-width: 768px) {
    .container {
        width: 734px;
    }
        #categories {
            width: 176px;
            height: 416px;
            gap: 24px;
        }
                .category-option {
                    font-size: 16px;
                    line-height: 1.25;
                    cursor: pointer;
                }
        #categories::-webkit-scrollbar-thumb {
            width: 8px;
            height: 201px;
        }

}

@media screen and (min-width: 1280px) {
    .container {
        width: 1210 px;
    }
    #categories {
        width: 235px;
        height: 416px;
    }
    .my-button {
        width: 174px;
        padding: 14px 27px;
    }

}