<script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
<link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>

<div class="form container">
    <form class="search-form-food" id="search-form-food">
      <div class="input-container">
      <label for="searchInput" >Search</label>
      <div class="for-svg">
      <input type="text" id="searchInput" class="search search-input" placeholder="Enter Text">
   
      <svg class="svg-icon">
        <use xlink:href="./image/sprite.svg#icon-search--default" class="search-icon"></use>
        <use xlink:href="./image/sprite.svg#icon-search-active" class="search-icon-active"></use>
      </svg>
     
      <svg class="svg-icon-close">
        <use xlink:href="./image/sprite.svg#icon-close-input-default" class="close-icon-select" ></use>
      </svg>
  </div></div>
 
    <div class="time-container">
      <label for="time">Time</label>
      
      <select name="time" id="selectTime" class="time"></select>  
  </div>
  <div class="area-container">
      <label for="area">Area</label>
      <select name="area" class="country" id="selectCountry"></select>
    </div>
    <div class="ing-container">
      <label for="ingredient">Ingredients</label>
      <select name="ingredients" class="selectIngredients" id="selectIng" class="ing"></select>
    </div>
  
  </form>

