
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}
div.ss-content{
  background-color:var(--plain-white) }
.search-input {
width: 100%;
padding: 8px;
border: 1px solid var(--input-border-color);
border-radius: 4px;
}
.search-container .search-input {
width: 100%;
padding: 8px;
border: 1px solid var(--input-border-color);
border-radius: 4px;

}
input.search.search-input:focus-visible {
 
  outline: none;
  padding-left: 48px;
  
}
.input-container:focus-within .search-icon {
  display: none;
}

.input-container:focus-within .search-icon-active {
  display: block;
}

.input-container .search-icon {
  display: block;
}

.input-container .search-icon-active {
  display: none;
}
.close-icon-select{
width: 18px;
height: 18px;
stroke:var(--arrow-number-color);

display: block;
}

.search-input:focus-visible::placeholder{
  color: var(--secondary-color);
}

.for-svg{
 position: relative;

}

.svg-icon {
width: 18px;
height: 18px;

background-size: cover; 
background-position: center;
opacity: 0.5;
position: absolute;
top: 14px;
left: 18px;
}
.input-container:focus-within .svg-icon-close{
width: 18px;
  height: 18px;
  background-size: cover; 
  background-position: center;
fill: #050505;
  position: absolute;
  top: 14px;
  right: 18px;
  display: block;
}
.svg-icon-close{
  display: none;
}








/* пробуем стилизовать инпут   */
.slim-select-input {
border: none;   /* Убираем рамку слим селект  */
box-shadow: none;  /* Убираем тень  */

}


input.search.search-input {
border-color: var(--input-border-color);
border-radius: 15px; 
width: 335px;
height: 46px;
padding: 0;
background-color: var(--secondary-color);

}
.search-input::placeholder{
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;  /* шрифт в инпуте */
line-height: 1.3;  
color: var(--popular-color);
padding-left: 48px;
}
/* контейнер для всех селектов */
.selects {
   display: flex;
   flex-wrap: wrap;
   gap: 14px;
}
div.ss-main .ss-values{
padding-left: 18px;   /* внутри селекта, пока там ничего не выбрано */
}
label{
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;  /* шрифт над селектом */
  line-height: 1.2;  
  color: var(--popular-color);
  margin-bottom: 8px;
  display: block;
  
}
.ss-main .ss-values .ss-single {
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;  /* внутри селекта, ШРИФТ пока там ничего не выбрано */
line-height: 1.2;  
color: var(--popular-color);
}
div.ss-content.ss-open-below{  /* выпадающий список  */
height: 188px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px; 
border: none;
padding-left: 18px;
padding-right: 4px;
padding-top: 4px;
padding-bottom: 4px;

font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.3;
}

.ss-list::-webkit-scrollbar {  /* сам ползунок  */
width: 6px;
height: 68px;
}

/*ползунок*/
.ss-list::-webkit-scrollbar-thumb {
background-color: var(--popular-list-color);   /*  Цвет ползунка */
border-radius: 12px;  /* Скругление углов ползунка */
height: 68px; 
}

/* Стилизация фона полосы прокрутки */
.ss-list::-webkit-scrollbar-track {
background-color: var( --plain-white);  /* Цвет фона полосы прокрутки  */
}
div.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
background-color: var( --plain-white);
color: var(--popular-list-color); /* тут цвет текста и фона ПЕРВОГО ДИВА внутри выпадайки  */

}
div.ss-content.time.ss-open-below{
height: 124px;
}
div.ss-content .ss-list .ss-option:hover{
color:var(--text-color);
background-color: var( --plain-white);   /* тут цвет текста и фона ХОВЕРА внутри выпадайки  */
}
div.ss-main.time,
div.ss-main.country,
div.ss-main.selectIngredients {
background-color: var(--secondary-color);
width: 160px;
height: 46px;   /*  тут сами селекты в неразвернутом виде  */
border-top-right-radius: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-color: var(--input-border-color);

}
div.ss-main.ing{
  width: 188px;
}
div.ss-main.ss-open-below {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
div.ss-main:focus{
  box-shadow: none;  /* тут с них убрали синюю тень  */
}

div.ss-content .ss-list .ss-option{
  color:var(--popular-list-color);
}
.ss-content .ss-list div.ss-option.ss-highlighted, .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {

color: var(--popular-color);
background-color: var(--secondary-color);   /* когда селектишь не мышкой, а с клавиатуры  */
}

.form.container{
display: flex;
flex-wrap: wrap;
}
.search-form-food{
display: flex;
flex-wrap: wrap;
width: 365px;
gap: 14px;


}
@media screen and (min-width: 375px) {
.container {
    width: 365px;

}

}

@media screen and (min-width: 768px) {
.container {
    width: 734px;
}
.search-form-food{
    display: flex;
    flex-wrap: wrap;
  width: 420px;
    gap: 16px;

}

input.search.search-input {
    width: 278px;
    height: 48px;
    padding: 0;
   box-sizing: border-box;
  }
  div.ss-main{
     height: 48px;  
  }
  div.ss-main.time {
    width: 125px;
   
  }
  div.ss-main.country{
    width: 141px;
    padding: 0;
  }
  div.ss-main.selectIngredients{
    width: 188px;
  }
  .form.container{
    
    padding-top: 40px;
    padding-left: 0;
  padding-bottom: 14px;
  }
}

@media screen and (min-width: 768px) {
  .container {
      width: 734px;
  }
  .search-form-food{
      display: flex;
      flex-wrap: wrap;
    width: 420px;
      gap: 16px;
  
  }
 
  input.search.search-input {
      width: 278px;
      height: 48px;
      padding: 0;
     box-sizing: border-box;
    }
    div.ss-main{
       height: 48px;  
    }
    div.ss-main.time {
      width: 125px;
     
    }
    div.ss-main.country{
      width: 141px;
      padding: 0;
    }
    div.ss-main.selectIngredients{
      width: 188px;
    }
    .form.container{
    
      padding-top: 80px;
      padding-left: 0;
    padding-bottom: 44px;
    }
}

@media screen and (min-width: 1280px) {
  .container {
      width: 1210px;
  }
  .form.container{
    width: 780px;
    padding-top: 100px;
    padding-left: 0;
  padding-bottom: 44px;
  }
  .search-form-food{
   
    width: 780px;
    
  
  }
}