<script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
<link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>

<div class="form container">
    <form class="search-form-food" id="search-form-food">
      <div class="input-container">
      <label for="searchInput" >Search</label>
      <div class="for-svg">
      <input type="text" id="searchInput" class="search search-input" placeholder="Enter Text">
   <span class="svg-icon"></span>
  </div></div>
 
    <div class="time-container">
      <label for="selectTime">Time</label>
      
      <select name="time" id="selectTime" class="time"></select>  
  </div>
  <div class="area-container">
      <label for="selectCountry">Area</label>
      <select name="country" class="country" id="selectCountry"></select>
    </div>
    <div class="ing-container">
      <label for="selectIngredients">Ingredients</label>
      <select name="selectIngredients" class="selectIngredients" id="selectIng" class="ing"></select>
    </div>
  
  </form>

