.is-hidden {
    display: none;
}

img {
    display: block;
    width: 100%;
}

/* картинка основна */
.fav-picture-thumb {
margin-bottom: 40px;
}

img.fav-image {
    width: unset;
    max-width: 335px;
    border-radius: 15px;
    margin: 0 auto;
}

/* секція */
.section-favorites {
   padding-top: 24px;
}

/* МЕДІА */
@media screen and (min-width: 768px) {
    .section-favorites {
    padding-top: 25px;
    }

    img.fav-image {
    max-width: 704px;
    }

    .fav-picture-thumb {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1280px) {
    .section-favorites {
        padding-top: 0;
    }

    img.fav-image {
        width: unset;
         max-width: 1080px;
    }
}