.is-hidden {
    display: none;
}

/* .section-favorites {

} */

.recipe-card {
    width: 250px;
}

img {
    display: block;
    width: 100%;
}

.is-favorite {
    background-color: red;
}

.favorites-list {
    background-color: aquamarine;
}

/* МЕДІА */
@media screen and (min-width: 374px) {
    .section-favorites {
        padding-top: 24px;
    }
}

@media screen and (min-width: 768px) {
    .section-favorites {
        padding-top: 25px;
    }
}

@media screen and (min-width: 1280px) {
    .section-favorites {
        padding-top: 0;
    }
}