<div class="test-cards"></div>
<div class="favorites-list"></div>
<div class="favorites-plug is-hidden">
  <!-- Позначаючи кожне зображення дескриптором w, 
    в якому вказана ширина цього зображення в пікселях, 
    ми перекладаємо всі обчислення і вибір зображення на браузер. -->

  <!-- <picture>
    <source
      srcset="./Favorites-img/favorites-jpg-1x-1080px.jpg 1x, ./Favorites-img/favorites-jpg-2x-1080px 2x"
      type="image/jpeg"
      media="(min-width: 600px)"
      sizes="(min-width: 480px) 480px, 100vw"
    />

    <img src="https://picsum.photos/id/237/300/200" alt="Cute puppy" />
  </picture> -->

  <!-- <img src="./favorites-jpg-1x-1080px.jpg?width=200" alt="Cute puppy" /> -->
  <p>заглушка</p>
  <!-- <img src="./Favorites-img/favorites-jpg-1x-704px.jpg" alt=""> -->
</div>
