<!-- <div class="test-cards"></div> -->
<div class="favorites-img"></div>
<div class="favorites-list"></div>

<div class="favorites-plug is-hidden">
  <div class="fav-plug-img"></div>
  <p class="fav-plug-text">
    It appears that you haven't added any recipes to your favorites yet. To get
    started, you can add recipes that you like to your favorites for easier
    access in the future.
  </p>
</div>

<!-- ПОЧАТКОВА РОЗМІТКА СТАРТОВОГО favorites.html -->
<!-- <!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="common.css"></link>
  </head>
  <body>
     ❗️❗️❗️ Add partials like so for every page -->
<!-- <include src="./partials/Part1.html"></include>
    <include src="./partials/Part2.html"></include> -->
<!-- <div class="container favorites">

        <include src="./partials/Header/Header.html"></include>
        <img src="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png" width="1080px" height="356px">
        <div style="display: flex; flex-direction: column;">
          <include src="./partials/FavoritesFilter/FavoritesFilter.html"></include>
          <include src="./partials/Favorites/Favorites.html"></include>
        </div>

        <include src="./partials/Pagination/Pagination.html"></include>   
      </div>
<script src="partials/Favorites/Favorites.js" type="module"></script>
<script src="partials/FavoritesFilter/FavoritesFilter.js" type="module"></script>
  </body>
</html> -->
