<section class="hero-section">
   <div class="hero-container ">
    <div class="hero-left-container">
      <div class="masterclass-preview">
        <h2 class="title">Learn to Cook <span class="text-color">Tasty Treats'</span> Customizable Masterclass</h2>
        <p class="description">Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
    </div>
    <a href="tel:+380730000000" class="btn-link">
    <button type="button" class="btn-ordernow js-popup-open" data-popup-open >Order Now</button>
    </a>
    </div>
<div class="swiper-container">
  <div class="sample-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <!-- Ваші слайди будуть тут -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
  </div>
</div>
</section>