


.swiper-slide{
    display: flex !important;
    overflow: hidden;
    min-width: 0;
   }

.swiper-container{
    position: relative;
    width: 496px;
    height: auto;
    margin-top: 48px;
}
 .swiper-pagination{
    bottom: 30px!important;
}

.title {
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    color: #050505;
    text-transform: uppercase; 
   margin-bottom: 14px;
   }
   
   .description {
    font-family: Inter;
       font-size: 14px;
       font-weight: 400;
       line-height: 1.3;
       color: #050505;
       margin: 0;
   }
   
   .text-color {
       color: #9BB537;
   }
   .hero-section {
       padding-top:64px;
   }
   
   .btn-ordernow{
    padding: 10px 20px;
    border-radius: 12px; 
    border: 0.50px #9BB537 solid;
    background-color: transparent;
    color: #050505;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 28px;
    cursor: pointer;
   }
   .btn-link{
    text-decoration: none;
   }
   .event-card-textdiv{
    position: relative;
   }

   .event-card-preview{
    width: 200px;
    height: auto;
    padding: 56px 22px 82px 21px;
    background-color: #050505;
    border-radius: 15px;
    margin-right: 16px;
   }
   .event-card-cook{
    width: 80px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 16px;
   }

   .event-card-bigimg{
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
   }

   .event-card-text{
    display: block;
    position: absolute;
    width: 145px;
    height: auto;
    /* top: -50%;
    left: -50%;
    transform: translate(-50%, -50%); */
    bottom: 10%;
    left: 20px;
    right: 0;
    text-align: center;
    justify-content: center;
    color: rgba(247.56, 247.56, 247.56, 0.60);
    font-size: 10px;
    font-family: Inter;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.4; 
    padding: 10px;
   }
   .event-card-area{
    position: absolute;
    color: rgba(247.56, 247.56, 247.56, 0.20);
    font-size: 8px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.5;  
    bottom: 5%;
    left: 87px;
    right: 0;
    text-align: center;
   }

   @media screen and (min-width: 768px) {
       .hero-section {
           padding-top:68px;
       }
       .title{
        text-transform: uppercase; 
        font-family: Inter;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.2;
        width: 445px;
        margin-bottom: 16px;
       }
       .description {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        width: 408px;
    }
    .btn-ordernow{
        padding: 14px 28px;
        margin-top: 32px;
    }

   }
   
   
   @media screen and (min-width: 1280px) {
       .hero-section {
           padding-top:48px;
       }
       .hero-left-container{
        display: flex;
        flex-direction: column;
        margin-right: 21px;
    }
    .hero-container{
        display: flex;
    }
    
   }
