.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    margin-top: 40px;
    margin-bottom: 80px;
}

.pagination ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--arrow-number-color);
    list-style: none;
    line-height: 122%;
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.list-item,
.pagination ul li.dots,
.pagination ul li.btn.list-item {
    list-style: none;
    height: 40px;
    width: 40px;
    margin: 0 8px;

    border-radius: 50%;
    border: 1px solid var(--popular-list-color);
}

.pagination ul li.list-item.first {
    margin: 0px 8px 0 14px;
}

.pagination ul li.list-item.last {
    margin: 0px 14px 0 8px;
}

.pagination ul li.dots {
    font-size: 20px;
    cursor: default;
}

.pagination ul li.active,
.pagination ul li.list-item:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    background: #9BB537;
    border: 1px solid #9BB537;
}

.unicode-icon {
    font-size: 30px;
    margin-bottom: 5px;
}

.unicode-icon.prev-icon {
    margin-right: 3px;
    color: var(--arrow-color-left);
}

.unicode-icon.next-icon {
    margin-left: 3px;
    color: var(--arrowcolor-right);
}

/* MEDIA */
@media screen and (min-width: 768px) {
    .pagination ul {
        margin-top: 64px;
        margin-bottom: 100px;
        }
}