.filters-list {
  display: flex;
  list-style: none;
  gap: 15px;
  overflow-x: auto;
}
.filters-btn {
  box-sizing: border-box;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  background-color: transparent;
  white-space: nowrap;

  color: var(--popular-list-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  user-select: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus,
.active {
  color: #f8f8f8;
  background: #9bb537;
  border-color: #9bb537;
}
